<!--
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand text-white font-weight-bold display-3" href="#">
            <img src="assets/w.jpg" width="40" height="40" class="d-inline-block align-top" alt="">
         CricApi                  </a>
         <div id="topnav">
         <a class="nav-item nav-link text-white"  href="http://localhost:4200/dashboardpage">DashBoard</a>
         </div> 
</nav>
-->


<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("/assets/a1.jpeg");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}
</style>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <a class="navbar-brand text-white font-weight-bold display-3" href="#">
                <img src="assets/w.jpg" width="40" height="40" class="d-inline-block align-top" alt="">
             CricApi                  </a>
             <div id="topnav">
             <a class="nav-item nav-link text-white"  href="http://localhost:4200/dashboardpage">DashBoard</a>
             </div> 
    </nav>


<!-- Header with full-height image -->
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-left w3-text-pink" style="padding:48px">
    <span class="w3-jumbo w3-hide-small">Start something that matters</span><br>
    <span class="w3-xxxxlarge w3-hide-large w3-hide-medium">Start something that matters</span><br>
    <span class="w3-xxlarge">Stop wasting valuable time with projects that just isn't you.</span>
   </div> 
  <div class="w3-display-bottomleft w3-text-grey w3-large" style="padding:24px 48px">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
</header>

<!-- About Section -->
<div class="w3-container" style="padding:50px 16px" id="about">
  <h3 class="w3-center">ABOUT THE PROJECT</h3>
  <p class="w3-center w3-large">Key features of our Project</p>
  <div class="w3-row-padding w3-center" style="margin-top:64px">
    <div class="w3-quarter">
      <i class="fa fa-desktop  w3-margin-bottom w3-jumbo w3-center"></i>
      <p class="w3-large">Responsive</p>
      <p> Website has a fluid and flexible layout which adjusts according to screen size. BootStrap offers an optimized browsing experience.</p>
    </div>
    
    <div class="w3-quarter">
      <i class="fa fa-cog fa-spin w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Support</p>
      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p> -->
   <p>Spring Boot is built on the top of the conventional spring framework.Comes with inbuilt annotations and server</p>
    </div>
    <div class="w3-quarter">
        <i class="fa fa-diamond  w3-margin-bottom w3-jumbo"></i>
        <p class="w3-large">Design</p>
        <p>AngularJs is open source front-end framework that develops SPAs.Expanding framework which provides better ways for developing web applications</p>
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p> -->
      </div>
    
    <div class="w3-quarter">
        <i class="fa fa-refresh fa-spin w3-margin-bottom w3-jumbo"></i>
        <p class="w3-large">Model</p>
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p> -->
        <p>SQL is a standard language for storing, manipulating and retrieving data in databases.</p>
      </div>
  </div>
</div>


<!-- Team Section -->
<div class="w3-container" style="padding:40px 16px" id="team">
  <h3 class="w3-center">THE TEAM</h3>
  <p class="w3-center w3-large">We Rise By Lifting Others</p>
  <div class="w3-row-padding " style="margin-top:64px">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="/assets/mam.png" alt="Mary" style="width:100%;height:250px">
        <div class="w3-container">
          <h3>Mary Peter</h3>
          <p>Mentor</p>
         </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="/assets/s.jpg" alt="Sai" style="width:100%;height:250px">
        <div class="w3-container">
          <h3>Sai Pedavalli</h3>
          <p>Team Lead</p>
          
</div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="/assets/a.jpg" alt="Ashu" style="width:100%;height:250px">
        <div class="w3-container">
          <h3>Ashutosh Kumar</h3>
          <p>Member</p>
            </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="/assets/pp.JPG" alt="pooja" style="width:100%;height:250px">
        <div class="w3-container">
          <h3>Pooja Shree</h3>
          <p>Member</p>
         </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer -->
<footer>
    <!-- Copyright -->
 <div class="footer-copyright text-center py-3 bg-dark text-white">© 2018 Copyright:
       <a class="hello text-white"href="http://localhost:4200/homepage"> CricApi.com</a>
     </div>
     <!-- Copyright -->
   
   </footer>
 
<script>
// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}


// Toggle between showing and hiding the sidebar when clicking the menu icon
var mySidebar = document.getElementById("mySidebar");

function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
  } else {
    mySidebar.style.display = 'block';
  }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
}
</script>

</body>
</html>
