.player-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
 }
 .heading{
    margin-bottom: 0.5em;
 }
 
 .player-image{
    width: 15vw;
    height: 30vh;
    margin-bottom: 0.5em;
    margin-left: 1.5em;
 }
 .keep-c-note-container {
     display: flex;
     flex-direction: row;
     width: 30%;
     margin: 2em;
     justify-content:space-around;
     margin:2px auto;
     flex-wrap: wrap;
 }
 .hello
 {
   
  
    background-image:url("../../assets/10.jpg");
    height:100vh;
    background-attachment:fixed;
    background-size:cover;
    background-repeat:no-repeat;
    width: 100%;
  
 }
 #topnav a:hover {
   background-color:green;
   color: black;
 }
 
 #topnav a.active {
   color: white;
 }